---
layout: layouts/base.njk
---

<section>
  <header class="main">
    {% if postDate %}
      <p style="margin-bottom:0;">
        {{ postDate }}{% if postAuthor %}, {{ postAuthor }}{% endif %}
      </p>
    {% endif %}
    <h1 style="margin: 0; padding-top: 0;">
      {{ title }}
    </h1>
  </header>

  {{ content | safe }}
</section>
