<header id="header">
  <a href="/" class="logo">
    <img src="/images/logo-L-black.svg" alt="" height="24"/>
    <strong>{{ site.logoTextStrong }}</strong> {{ site.logoText }}
  </a>

  <ul class="icons">
    <li><a href="{{ site.social.linkedin }}" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a href="{{ site.social.github }}" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="{{ site.social.instagram }}" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
  </ul>
</header>
