<div id="sidebar">
  <div class="inner">

    <nav id="menu">
      <header class="major">
        <h2>Menu</h2>
      </header>
      <ul>
        <li><a href="/">Homepage</a></li>
      </ul>
    </nav>

    <section>
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <ul class="contact">
        <li class="icon solid fa-envelope"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li class="icon solid fa-home">{{ site.locationHtml | safe }}</li>
      </ul>
    </section>

    <footer id="footer">
      <p class="copyright">
        &copy; {{ site.name }}. All rights reserved.<br>
        Design adapted from: <a href="https://html5up.net">HTML5 UP</a>.
      </p>
    </footer>

  </div>
</div>
